<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="cc.warlock.rcp.userstreams.ui.views.UserStream"
            id="cc.warlock.rcp.userstreams.rightView.userStream"
            name="Stream">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:cc.warlock.rcp.menu.window">
         <dynamic
               class="cc.warlock.rcp.userstreams.ui.menu.StreamsContributionItem"
               id="cc.warlock.rcp.userstreams.dynamicStreams">
         </dynamic>
         <separator
               name="cc.warlock.rcp.userstreams.window.seperator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
