<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="cc.warlock.rcp.stormfront.ui.views.StormFrontGameView"
            icon="images/character.gif"
            id="cc.warlock.rcp.stormfront.ui.views.StormFrontGameView"
            name="Warlock">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.stormfront.ui.views.BarsView"
            id="cc.warlock.rcp.stormfront.ui.views.BarsView"
            name="Bars">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.topStream.death"
            name="Deaths">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.inv"
            name="Inventory">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.assess"
            name="Assess">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.experience"
            name="Exp">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.logons"
            name="Arrivals &amp; Departures">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.topStream.thoughts"
            name="Thoughts">
      </view>
      <view
            allowMultiple="false"
            class="cc.warlock.rcp.stormfront.ui.views.HandsView"
            icon="images/handview.gif"
            id="cc.warlock.rcp.stormfront.ui.views.HandsView"
            name="Hands">
      </view>
      <view
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.room"
            name="Current Room">
      </view>
      <view
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.familiar"
            name="Familiar">
      </view>
      <view
            class="cc.warlock.rcp.views.StreamView"
            id="cc.warlock.rcp.views.stream.rightStream.stowContainer"
            name="My Bag">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cc.warlock.rcp.stormfront.ui.menu.SGEConnectionHandler"
            description="Connect to  your Simutronics account (Dragonrealms, Gemstone, etc)"
            id="cc.warlock.rcp.stormfront.sgeConnectCommand"
            name="Simutronics Games">
      </command>
      <command
            defaultHandler="cc.warlock.rcp.stormfront.ui.menu.ImportStormfrontSettingsHandler"
            id="cc.warlock.rcp.stormfront.importStormfrontSettingsCommand"
            name="Import Stormfront Settings">
      </command>
      <command
            defaultHandler="cc.warlock.rcp.stormfront.ui.menu.TestConnectonHandler"
            description="Opens Test Connection to Warlock&apos;s Test Server"
            id="cc.warlock.rcp.stormfront.sfTestConnection"
            name="Test Connection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="cc.warlock.rcp.stormfront.sgeConnectCommand"
            icon="images/game.gif">
      </image>
      <image
            commandId="cc.warlock.rcp.stormfront.sfTestConnection"
            icon="images/character.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:cc.warlock.rcp.menu.connect?after=cc.warlock.rcp.menu.newConnection">
         <separator
               name="cc.warlock.rcp.stormfront.separator1"
               visible="true">
         </separator>
         <dynamic
               class="cc.warlock.rcp.stormfront.ui.menu.ProfileConnectContributionItem"
               id="cc.warlock.rcp.stormfront.dynamicProfiles">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:cc.warlock.rcp.menu.window?after=cc.warlock.rcp.userstreams.window.seperator">
         <dynamic
               class="cc.warlock.rcp.stormfront.ui.menu.StreamWindowContributionItem"
               id="cc.warlock.rcp.dynamicViews">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:cc.warlock.rcp.menu.prefs?before=cc.warlock.rcp.menu.preferences">
         <command
               commandId="cc.warlock.rcp.stormfront.importStormfrontSettingsCommand"
               icon="images/import_wiz.gif"
               id="cc.warlock.rcp.stormfront.menu.import"
               label="Import from Stormfront...">
         </command>
      </menuContribution>
      <menuContribution
      		locationURI="menu:cc.warlock.rcp.menu.scriptControl?after=cc.warlock.rcp.menu.scriptControl.seperator">
         <dynamic
               class="cc.warlock.rcp.stormfront.ui.menu.ScriptMenuContributionItem"
               id="cc.warlock.rcp.stormfront.scriptControl">
         </dynamic>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="cc.warlock.rcp.warlockPrefs"
            class="cc.warlock.rcp.stormfront.ui.prefs.PresetsPreferencePage"
            id="cc.warlock.rcp.stormfront.ui.prefs.presets"
            name="Colors and Presets">
         <enabledWhen>
            <and>
               <adapt
                     type="cc.warlock.core.stormfront.client.IStormFrontClient">
               </adapt>
               <test
                     property="cc.warlock.rcp.clientConnected">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            category="cc.warlock.rcp.warlockPrefs"
            class="cc.warlock.rcp.stormfront.ui.prefs.AccountsPreferencePage"
            id="cc.warlock.rcp.stormfront.ui.prefs.accountsAndProfiles"
            name="Accounts and Profiles">
         <enabledWhen>
            <adapt
                  type="cc.warlock.core.stormfront.client.IStormFrontClient">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="cc.warlock.rcp.connectionCommands">
      <connectionCommand
            commandId="cc.warlock.rcp.stormfront.sgeConnectCommand"
            groupName="Create a New Connection"
            weight="100">
      </connectionCommand>
      <dynamic
            classname="cc.warlock.rcp.stormfront.ui.menu.ProfileConnectContributionItem"
            groupName="Simutronics Characters">
      </dynamic>
      <connectionCommand
            commandId="cc.warlock.rcp.stormfront.sfTestConnection"
            groupName="Simutronics Characters"
            weight="1000">
      </connectionCommand>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cc.warlock.rcp.stormfront.ui.StormFrontPerspectiveFactory"
            id="cc.warlock.stormfrontPerspective"
            name="Stormfront Perspective">
      </perspective>
   </extension>

</plugin>
