<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="scriptEngines" name="Warlock Script Engine" schema="schema/scriptEngines.exsd"/>
   <extension-point id="macroVariables" name="Warlock Macro Variable" schema="schema/macroVariables.exsd"/>
   <extension-point id="macroCommands" name="Warlock Macro Commands" schema="schema/macroCommands.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            icon="images/character.gif"
            class="com.arcaner.warlock.rcp.views.GameView"
            name="Warlock"
            id="com.arcaner.warlock.rcp.views.gameView"/>
      <view
            allowMultiple="false"
            icon="images/compass_view.gif"
            class="com.arcaner.warlock.rcp.views.CompassView"
            name="Compass"
            id="com.arcaner.warlock.rcp.views.compassView"/>
      <view
            allowMultiple="false"
            class="com.arcaner.warlock.rcp.views.BarsView"
            name="Bars"
            id="com.arcaner.warlock.rcp.views.barsView"/>
   </extension>
   <extension
         id="warlock"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="com.arcaner.warlock.rcp.application.WarlockApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.arcaner.warlock.rcp.application.WarlockPerspectiveFactory"
            name="Warlock Perspective"
            id="com.arcaner.warlock.warlockPerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Connect"
            id="com.arcaner.warlock.commands.connectCommand"/>
      <keyConfiguration
            name="Warlock Key Configuration"
            parent="org.eclipse.ui.defaultAcceleratorConfiguration"
            id="com.arcaner.warlock.keyConfiguration"/>
      <keyBinding
            contextId="org.eclipse.ui.globalScope"
            command="com.arcaner.warlock.commands.connectCommand"
            string="Ctrl+Shift+C"
            commandId="com.arcaner.warlock.commands.connectCommand"
            configuration="com.arcaner.warlock.keyConfiguration"/>
   </extension>
   <extension
         point="com.arcaner.warlock.rcp.scriptEngines">
      <scriptEngine classname="com.arcaner.warlock.script.javascript.JavascriptEngine"/>
   </extension>
   <extension
         point="com.arcaner.warlock.rcp.macroVariables">
      <macroVariable classname="com.arcaner.warlock.rcp.ui.macros.internal.variables.CurrentCommandMacroVariable"/>
      <macroVariable classname="com.arcaner.warlock.rcp.ui.macros.internal.variables.LastCommandMacroVariable"/>
      <macroVariable classname="com.arcaner.warlock.rcp.ui.macros.internal.variables.NextCommandMacroVariable"/>
   </extension>
   <extension
         point="com.arcaner.warlock.rcp.macroCommands">
      <macroCommand classname="com.arcaner.warlock.rcp.ui.macros.internal.commands.SendMacroCommand"/>
      <macroCommand classname="com.arcaner.warlock.rcp.ui.macros.internal.commands.ClearMacroCommand"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.arcaner.warlock.rcp.warlock"
            description="Warlock: A Simutronics Game Client"
            name="Warlock 2">
         <property
               name="appName"
               value="Warlock 2">
         </property>
         <property
               name="windowImages"
               value="images/character.gif">
         </property>
         <property
               name="startupProgressRect"
               value="0,79,444,19">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="images/connect.png"
               id="com.arcaner.warlock.rcp.menu.connect"
               label="Connect"
               mnemonic="C"
               tooltip="Connect to a Simutronics game">
			  <command
                     commandId="com.arcaner.warlock.rcp.command.newConnection"
                     icon="images/connect.png"
                     label="New Connection..."
                     mnemonic="N"
                     style="push">
               </command>
     <separator
           name="com.arcaner.warlock.rcp.separator4"
           visible="true">
     </separator>
               <dynamic
                  class="com.arcaner.warlock.rcp.menu.ProfileConnectContributionItem"
                  id="com.arcaner.warlock.rcp.dynamicProfiles">
 	           </dynamic>
         </menu>
     </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.arcaner.warlock.rcp.menu.NewConnectionHandler"
            id="com.arcaner.warlock.rcp.command.newConnection"
            name="New Connection...">
      </command>
   </extension>

</plugin>
