<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scriptEngines" name="Warlock Script Engines" schema="schema/scriptEngines.exsd"/>
   <extension
         point="cc.warlock.core.script.scriptEngines">
      <scriptEngine
            classname="cc.warlock.core.script.javascript.JavascriptEngine">
      </scriptEngine>
   </extension>

</plugin>
