<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="cc.warlock.scribe.ui.views.ScriptControlView"
            icon="icons/script.gif"
            id="cc.warlock.scribe.ui.ScriptControlView"
            name="Script Control">
      </view>
      <view
            class="cc.warlock.scribe.ui.views.ScriptsView"
            icon="icons/script.gif"
            id="cc.warlock.scribe.ui.views.ScriptsView"
            name="Scripts">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cc.warlock.scribe.ui.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="cc.warlock.warlockPerspective">
         <view
               closeable="true"
               id="cc.warlock.scribe.ui.ScriptControlView"
               moveable="true"
               ratio=".95"
               relationship="fast"
               relative="cc.warlock.bottomFolder"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Scripting">
            <command
                  commandId="cc.warlock.scribe.ui.commands.ShowScriptsCommand"
                  icon="icons/script.gif"
                  label="Show Scripts">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cc.warlock.scribe.ui.commands.ShowScriptsCommandHandler"
            id="cc.warlock.scribe.ui.commands.ShowScriptsCommand"
            name="Show Scripts Command">
      </command>
   </extension>

</plugin>
